
name: 部署博客

on:
  push:
    branches:
      # 确保这是你正在使用的分支名称
      - master
  # 手动触发部署
  # workflow_dispatch:

# permissions:
#   contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # 如果你文档需要 Git 子模块，取消注释下一行
          # submodules: true

      - name: 安装 pnpm
        uses: pnpm/action-setup@v2
        with:
          run_install: true
          version: 8


      - name: 设置 Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm


      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run docs:build
          

      - name: 部署文档
        uses: crazy-max/ghaction-github-pages@v2
        with:
          # 这是文档部署到的分支名称
          branch: gh-pages
          # folder: src/.vuepress/dist
          build_dir: src/.vuepress/dist
        env:
        # @see https://docs.github.com/cn/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
